<launch>
  <!-- Source data -->
  <include file="$(find dory_localization)/launch/dory_bagfile_testing.launch">
  </include>
  <node
      pkg="dory_localization"
      type="node"
      name="dory_rbpf_node"
      output="screen"
  />
  <!-- RViz -->
  <node 
    pkg="rviz" 
    type="rviz" 
    name="rviz" 
    args="-d $(find dory_localization)/config/rbpf.rviz" 
    output="screen"/>
  />
</launch>